html{
background-color: #111;
height: 100vh;
width: 100vh;

display: flex;
justify-content: center;
}
p{ color:white } 
body{
    background-color: lightblue;

    max-width: 300px;
    max-height: 80vh;

    overflow: hidden;
    margin: 0px;
}
h1{
    color: white;
    background-color: black;

    margin: 0px;
    padding: 5px;
}
main{
    background-color: navy  ;
    display: flex;
    flex-direction: column;
}
#target{
    text-align: center;
    font-size: 60px;   
}
.grow{
    flex-grow: 1;
}