html{
background-color: #111;
height: 100vh;
width: 100vh;

display: flex;
justify-content: center;
}
p{ color:white } 
body{
    background-color: lightblue;

    max-width: 300px;
    max-height: 80vh;

    overflow: hidden;
}
h1{
    color: white;
    background-color: black;

    margin: 0px;
    padding: 5px;
}